<!DOCTYPE html> <!-- This document contains the default layout for all gallery pages, do not alter without keeping that mind. -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title> <!-- Get the page title defined in the local index file of the characters directory. -->
  <link rel="icon" href="Icon.png" type="image/png" /> <!-- Fetches the local icon to display in the browser tab. -->
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}" /> <!-- Imports the css styles file to determine the define the visuals of the page. -->
</head>
<body>
<header>
  <div class="filters-wrapper"> <!-- Sets up the filters component, normally hidden but expandable on the page and with two different modes. -->
    <button class="filter-toggle" id="toggle-filters">Show Filters</button>
    <div class="filters collapsed" id="filters-bar">
      {% include filters.html %} <!-- Fetches the filters.html file from _includes, this file determines how many filters there are.  -->
      <div class="filter-mode"> 
        <label for="filter-mode-toggle">Filter Mode:</label> <!-- This allows the user to change between filter modes as desired. -->
        <select id="filter-mode-toggle"> 
          <option value="any">Any</option> <!-- In Any mode images will be shown if they have at least one of the filtered tags. -->
          <option value="all">All</option> <!-- In All mode images will only be shown if they have every selected tag. -->
        </select>
      </div>
    </div>
  </div>
</header>

<main class="gallery"></main>

<script src="tags.js"></script> <!-- Loads the tags that are relevant for the character in question. NEEDS TO HAPPEN BEFORE GALLERY.JS -->
<script src="{{ '/assets/gallery.js' | relative_url }}"></script> <!-- Calls the normal gallery script, this script requires that the filters + tags are already loaded. -->

</body>
</html>